// Default HTML elements

@font-face {
  $path: '../fonts/fedfont/';
  font-family: "fedfont";
  src:url("#{$path}fedfont.eot");
  src:url("#{$path}fedfont.eot?#iefix") format("embedded-opentype"),
  url("#{$path}fedfont.woff") format("woff"),
  url("#{$path}fedfont.ttf") format("truetype"),
  url("#{$path}fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
  font-weight: $default-font-weight;
  color: $medium-darker-gray;
}

h1, h2, h3 {
  font-weight: $default-font-weight;
}

p {
  line-height: 1.7;
}