.play-font {
  font-size: 2em;
  text-shadow: 2px 2px 2px black;
}

.icon {

  &--circle {
    display: inline-block;
    padding: 30px 0 30px 0;
    border-radius: 4em;
    color: white;
    background-color: purple;
    font-size: 40px;
    width: 100px;
    text-align: center;
  }
}