/**
 * selectize.css (v0.12.6)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #fff;
  box-shadow: inset 0 0 12px 4px #fff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  border-radius: 3px 3px 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff;
}
.selectize-control.plugin-remove_button .remove-single {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 23px;
}
.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #fff;
  cursor: text;
  display: inline-block;
}
.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px;
}
.selectize-input.full {
  background-color: #fff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}
.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.selectize-input.dropdown-active {
  border-radius: 3px 3px 0 0;
}
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #f2f2f2;
  color: #303030;
  border: 0 solid #d0d0d0;
}
.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca;
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.selectize-input > input::-ms-clear {
  display: none;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #fff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  border-radius: 1px;
}
.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}
.selectize-dropdown .option,
.selectize-dropdown [data-disabled],
.selectize-dropdown [data-disabled] [data-selectable].option {
  cursor: inherit;
  opacity: 0.5;
}
.selectize-dropdown [data-selectable].option {
  opacity: 1;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #fff;
  cursor: default;
}
.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}
.selectize-dropdown .active.create {
  color: #495c68;
}
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  -webkit-overflow-scrolling: touch;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa;
}

/*
 * jQuery FlexSlider v2.7.1
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
@-moz-document url-prefix() {
  .loading .flex-viewport {
    max-height: none;
  }
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "fedfont";
  src: url("../fonts/fedfont/fedfont.eot");
  src: url("../fonts/fedfont/fedfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fedfont/fedfont.woff") format("woff"), url("../fonts/fedfont/fedfont.ttf") format("truetype"), url("../fonts/fedfont/fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../scss/_base.scss */
body {
  font-family: sans-serif;
  font-weight: 100;
  color: #7a7a7a;
}

/* line 21, ../scss/_base.scss */
h1, h2, h3 {
  font-weight: 100;
}

/* line 25, ../scss/_base.scss */
p {
  line-height: 1.7;
}

/* line 1, ../scss/_layout.scss */
.site_header-top, .site_header-bottom_inner, .stacked_hero_section {
  width: auto;
  margin: 0 20px;
}
@media (min-width: 1000px) {
  /* line 1, ../scss/_layout.scss */
  .site_header-top, .site_header-bottom_inner, .stacked_hero_section {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 1, ../scss/_play.scss */
.play-font {
  font-size: 2em;
  text-shadow: 2px 2px 2px black;
}

/* line 8, ../scss/_play.scss */
.icon--circle {
  display: inline-block;
  padding: 30px 0 30px 0;
  border-radius: 4em;
  color: white;
  background-color: purple;
  font-size: 40px;
  width: 100px;
  text-align: center;
}

/* line 1, ../scss/components/_button.scss */
.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  background-color: #84BD00;
  padding: 0.75rem 2.5rem 0.5rem 2.5rem;
  border-radius: .2em;
  border-top: #bdff24 1px solid;
  border-bottom: #4f7100 1px solid;
  border-left: none;
  border-right: none;
  color: white;
}
/* line 16, ../scss/components/_button.scss */
.button:link, .button:hover, .button:visited, .button:active {
  color: white;
}
/* line 20, ../scss/components/_button.scss */
.button--pill {
  border-radius: 4em;
  padding: 0.6875rem 1.375rem 0.4375rem 1.375rem;
  font-size: 1.25rem;
  text-shadow: none;
  font-weight: 100;
}

/* line 1, ../scss/components/_contact_form.scss */
.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input input {
  font-size: 1.125rem;
  letter-spacing: .1em;
}

/* line 6, ../scss/components/_contact_form.scss */
.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input {
  background-color: #e8e8e8;
  border: #DADADA 1px solid;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1.75rem 0.25rem 1.75rem;
  border-radius: 0.3125rem;
  display: block;
  margin: 1.5em 0;
}

/* line 17, ../scss/components/_contact_form.scss */
.contact_form {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 530px) {
  /* line 17, ../scss/components/_contact_form.scss */
  .contact_form {
    width: 29.5rem;
  }
}
/* line 29, ../scss/components/_contact_form.scss */
.contact_form-radio_wrapper {
  display: inline-block;
}
/* line 33, ../scss/components/_contact_form.scss */
.contact_form-type_label {
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: .1em;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
/* line 41, ../scss/components/_contact_form.scss */
.contact_form-type {
  text-align: center;
}
/* line 44, ../scss/components/_contact_form.scss */
.contact_form-type i {
  font-size: 1.5rem;
  margin-right: .1em;
  color: #e8e8e8;
}
/* line 50, ../scss/components/_contact_form.scss */
.contact_form-type .contact_form-type--empty {
  color: #e8e8e8;
}
/* line 54, ../scss/components/_contact_form.scss */
.contact_form-type .contact_form-type--checked {
  display: none;
  color: #0065b2;
}
/* line 59, ../scss/components/_contact_form.scss */
.contact_form-type label {
  font-size: 1.25rem;
  letter-spacing: .1em;
  margin: 0 0.875rem;
}
/* line 65, ../scss/components/_contact_form.scss */
.contact_form-type input[type="radio"]:checked + .contact_form-type--checked {
  display: inline-block;
}
/* line 69, ../scss/components/_contact_form.scss */
.contact_form-type input[type="radio"] {
  display: none;
}
/* line 84, ../scss/components/_contact_form.scss */
.contact_form-comments {
  height: 9.1875rem;
  padding: 0.9375rem 1.75rem;
}
/* line 92, ../scss/components/_contact_form.scss */
.contact_form-submit {
  width: 100%;
}

/* line 99, ../scss/components/_contact_form.scss */
div.contact_form-interest .selectize-input {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 1, ../scss/components/_icon_box.scss */
.icon_box {
  background-color: #e8e8e8;
  width: 13.9375rem;
  height: 13.9375rem;
  padding: 1.375rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: left;
  margin: 3.125rem 0.375rem 1.25rem 0.375rem;
}
/* line 15, ../scss/components/_icon_box.scss */
.icon_box-wrapper {
  text-align: center;
}
/* line 19, ../scss/components/_icon_box.scss */
.icon_box > p {
  font-size: 0.875rem;
}
/* line 23, ../scss/components/_icon_box.scss */
.icon_box-title {
  margin-top: 2.625rem;
  margin-bottom: 0.625rem;
  font-size: 1.625rem;
  text-transform: uppercase;
  letter-spacing: .04em;
  text-align: center;
}
/* line 33, ../scss/components/_icon_box.scss */
.icon_box-icon {
  position: absolute;
  margin-left: 2.46875rem;
  margin-top: -4.5rem;
  display: inline-block;
  padding: 1.875rem 0 1.875rem 0;
  border-radius: 4em;
  color: white;
  font-size: 2.5rem;
  width: 6.25rem;
  text-align: center;
}
/* line 49, ../scss/components/_icon_box.scss */
.icon_box--passion .icon_box-icon {
  background-color: #a8228e;
}
/* line 55, ../scss/components/_icon_box.scss */
.icon_box--speed .icon_box-icon {
  background-color: #0065b2;
}
/* line 61, ../scss/components/_icon_box.scss */
.icon_box--creativity .icon_box-icon {
  background-color: #84BD00;
}
/* line 67, ../scss/components/_icon_box.scss */
.icon_box--magic .icon_box-icon {
  background-color: #f58220;
}

/* line 4, ../scss/components/_search_form.scss */
.search_form {
  font-size: 0;
}
/* line 7, ../scss/components/_search_form.scss */
.search_form-phrase {
  vertical-align: top;
  height: 1.875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #DADADA;
  border-left: none;
  width: 8.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
/* line 19, ../scss/components/_search_form.scss */
.search_form-submit {
  vertical-align: top;
  height: 1.875rem;
  font-size: 1rem;
  border: 1px solid #DADADA;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #e8e8e8;
}
/* line 28, ../scss/components/_search_form.scss */
.search_form-submit:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  color: #aeaeae;
}

/* line 39, ../scss/components/_search_form.scss */
div.search_form-type.single {
  width: 4.875rem;
  display: inline-block;
  vertical-align: top;
}
/* line 44, ../scss/components/_search_form.scss */
div.search_form-type.single .selectize-input {
  font-size: 1rem;
  color: #7a7a7a;
  padding: 0.25rem 0.5rem;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 5px 0 0 5px;
  background-color: #e8e8e8;
  height: 1.875rem;
  border-color: #DADADA;
}
/* line 56, ../scss/components/_search_form.scss */
div.search_form-type.single .selectize-input:after {
  border-style: none;
}
/* line 60, ../scss/components/_search_form.scss */
div.search_form-type.single .selectize-input:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0dc";
  margin-right: .4em;
}

/* line 1, ../scss/components/_site_footer.scss */
.site_footer {
  background-color: #515151;
  color: #aeaeae;
  padding: 2.125rem 1.875rem;
}
/* line 7, ../scss/components/_site_footer.scss */
.site_footer-contact_info {
  margin-top: -0.4375rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
@media (min-width: 1010px) {
  /* line 7, ../scss/components/_site_footer.scss */
  .site_footer-contact_info {
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
}
/* line 18, ../scss/components/_site_footer.scss */
.site_footer-contact_info > p {
  margin-top: 0.1875em;
  margin-bottom: 0.1875em;
}
/* line 25, ../scss/components/_site_footer.scss */
.site_footer-copyright {
  color: white;
  font-weight: 400;
}
/* line 30, ../scss/components/_site_footer.scss */
.site_footer-social_nav {
  text-align: center;
  margin-bottom: 1.25rem;
}
@media (min-width: 1010px) {
  /* line 30, ../scss/components/_site_footer.scss */
  .site_footer-social_nav {
    float: right;
    text-align: left;
    margin-bottom: 0;
  }
}
/* line 40, ../scss/components/_site_footer.scss */
.site_footer-social_nav > a {
  font-size: 1rem;
  height: 1.5625rem;
  width: 1.5625rem;
  line-height: 1.5625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  color: #515151;
  border-radius: 3em;
  display: inline-block;
  text-align: center;
  margin: 0 .1em 0 .1em;
}
/* line 59, ../scss/components/_site_footer.scss */
.site_footer-nav {
  text-align: center;
  margin-bottom: 0.5625em;
}
/* line 63, ../scss/components/_site_footer.scss */
.site_footer-nav_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 1010px) {
  /* line 63, ../scss/components/_site_footer.scss */
  .site_footer-nav_wrapper {
    width: 27rem;
  }
}
/* line 73, ../scss/components/_site_footer.scss */
.site_footer-nav a {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 0.625em;
  margin-right: 0.625em;
}
/* line 78, ../scss/components/_site_footer.scss */
.site_footer-nav a:link, .site_footer-nav a:hover, .site_footer-nav a:visited, .site_footer-nav a:active {
  color: white;
}
/* line 82, ../scss/components/_site_footer.scss */
.site_footer-nav--alt {
  padding-top: 0.8125em;
  border-top: #5d5d5d solid 1px;
}
/* line 86, ../scss/components/_site_footer.scss */
.site_footer-nav--alt a:link, .site_footer-nav--alt a:hover, .site_footer-nav--alt a:visited, .site_footer-nav--alt a:active {
  color: #aeaeae;
}

/* line 4, ../scss/components/_site_header.scss */
.site_header-top {
  overflow: auto;
  padding: 1.5rem 0;
}
/* line 10, ../scss/components/_site_header.scss */
.site_header-top_right {
  width: 365px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1.25rem;
  padding-top: 0.25rem;
}
@media (min-width: 670px) {
  /* line 10, ../scss/components/_site_header.scss */
  .site_header-top_right {
    float: right;
    width: auto;
    margin: inherit;
    text-align: inherit;
    padding-bottom: 0;
  }
}
/* line 28, ../scss/components/_site_header.scss */
.site_header-logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 505px) {
  /* line 28, ../scss/components/_site_header.scss */
  .site_header-logo {
    width: 450px;
  }
}
@media (min-width: 670px) {
  /* line 28, ../scss/components/_site_header.scss */
  .site_header-logo {
    float: left;
    width: auto;
    margin: 0;
    display: inline-block;
  }
}
/* line 47, ../scss/components/_site_header.scss */
.site_header-bottom {
  overflow: auto;
  background-color: #e8e8e8;
  padding: 0.75rem 0;
  border-top: 1px solid #DADADA;
}
/* line 58, ../scss/components/_site_header.scss */
.site_header-nav {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.375rem;
}
@media (min-width: 670px) {
  /* line 58, ../scss/components/_site_header.scss */
  .site_header-nav {
    float: left;
    text-align: inherit;
    margin-bottom: 0;
  }
}
/* line 70, ../scss/components/_site_header.scss */
.site_header-nav a {
  display: inline-block;
  text-decoration: none;
  padding: .4em .7em;
}
/* line 74, ../scss/components/_site_header.scss */
.site_header-nav a:link, .site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:active {
  color: #7a7a7a;
}
/* line 79, ../scss/components/_site_header.scss */
.site_header-nav a.is-active {
  border: #aeaeae 1px solid;
  background-color: #DADADA;
  border-radius: .2em;
}
/* line 86, ../scss/components/_site_header.scss */
.site_header-phone {
  width: 10.625rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 670px) {
  /* line 86, ../scss/components/_site_header.scss */
  .site_header-phone {
    float: right;
    width: auto;
    text-align: inherit;
    display: inline-block;
    margin: 0;
  }
}
/* line 102, ../scss/components/_site_header.scss */
.site_header-account_link {
  display: inline-block;
  line-height: 1.8125rem;
  margin-right: 1.25rem;
}
/* line 107, ../scss/components/_site_header.scss */
.site_header-account_link:link, .site_header-account_link:hover, .site_header-account_link:visited, .site_header-account_link:active {
  color: #7a7a7a;
  text-decoration: none;
  font-size: 0.9375rem;
}
/* line 114, ../scss/components/_site_header.scss */
.site_header .search_form {
  display: inline-block;
  vertical-align: top;
}

/* line 1, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a, .slideshow .flex-direction-nav a.flex-prev:before, .slideshow .flex-direction-nav a.flex-next:before {
  height: 21.3125rem;
  width: 12.5rem;
  font-size: 0;
}

/* line 7, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-prev:before, .slideshow .flex-direction-nav a.flex-next:before {
  font-family: "fedfont";
  font-size: 19.4375rem;
  color: white;
  text-shadow: 0.125rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.4);
}

/* line 14, ../scss/components/_slideshow.scss */
.slideshow {
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  height: 39.375rem;
  background-image: url("../images/slideshow-bg-1000.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  border-bottom: 1px solid white;
}
/* line 34, ../scss/components/_slideshow.scss */
.slideshow > .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 801px) {
  /* line 14, ../scss/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg-2000.jpg");
  }
}
@media (min-width: 1501px) {
  /* line 14, ../scss/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg-3000.jpg");
  }
}
@media (min-width: 2501px) {
  /* line 14, ../scss/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg.jpg");
  }
}
/* line 49, ../scss/components/_slideshow.scss */
.slideshow-slide {
  width: auto;
  padding: 0 20px;
}
@media (min-width: 820px) {
  /* line 49, ../scss/components/_slideshow.scss */
  .slideshow-slide {
    width: 31.25rem;
    padding-left: 12.5rem;
  }
}
/* line 58, ../scss/components/_slideshow.scss */
.slideshow-slide > p {
  color: white;
  font-size: 1.125rem;
}
/* line 64, ../scss/components/_slideshow.scss */
.slideshow-slide_title {
  font-size: 2.75rem;
  color: white;
  margin-bottom: .5em;
  margin-top: -0.625rem;
}
/* line 71, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a {
  display: none;
}
@media (min-width: 820px) {
  /* line 71, ../scss/components/_slideshow.scss */
  .slideshow .flex-direction-nav a {
    display: inherit;
    top: 30%;
  }
}
/* line 80, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-prev:before {
  content: "d";
  margin-left: -7.8125rem;
}
/* line 88, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-next:before {
  content: "c";
}
/* line 96, ../scss/components/_slideshow.scss */
.slideshow .flex-control-nav {
  bottom: 0.9375rem;
}
/* line 99, ../scss/components/_slideshow.scss */
.slideshow .flex-control-nav li {
  margin: 0 0.25rem;
}
/* line 102, ../scss/components/_slideshow.scss */
.slideshow .flex-control-nav li a {
  background-color: white;
}
/* line 106, ../scss/components/_slideshow.scss */
.slideshow .flex-control-nav li a.flex-active {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 112, ../scss/components/_slideshow.scss */
.slideshow-wrapper {
  position: relative;
}
/* line 115, ../scss/components/_slideshow.scss */
.slideshow-wrapper:after {
  content: '';
  position: absolute;
  left: 5%;
  right: 5%;
  height: 50%;
  bottom: 0;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  z-index: -1;
}

/* line 1, ../scss/components/_snippet.scss */
.snippet {
  overflow: auto;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
/* line 7, ../scss/components/_snippet.scss */
.snippet .snippet-content {
  float: left;
  width: 315px;
  margin-left: 20px;
}
/* line 12, ../scss/components/_snippet.scss */
.snippet .snippet-content > p {
  font-size: 0.875rem;
}
/* line 16, ../scss/components/_snippet.scss */
.snippet .snippet-content h3 {
  margin-top: 0;
}
/* line 21, ../scss/components/_snippet.scss */
.snippet-title {
  font-size: 1.5rem;
  margin-bottom: .7em;
}
/* line 26, ../scss/components/_snippet.scss */
.snippet-attribution {
  font-style: italic;
}
/* line 28, ../scss/components/_snippet.scss */
.snippet-attribution > a {
  color: #515151;
}
/* line 30, ../scss/components/_snippet.scss */
.snippet-attribution > a:hover, .snippet-attribution > a:visited, .snippet-attribution > a:link, .snippet-attribution > a:active {
  color: #515151;
}
/* line 36, ../scss/components/_snippet.scss */
.snippet-author_thumb {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  float: left;
  margin-top: 37px;
}

/* line 1, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background: none;
  border: 0;
}
@media (min-width: 670px) {
  /* line 1, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow {
    width: 515px;
  }
}
@media (min-width: 1070px) {
  /* line 1, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow {
    width: 960px;
  }
}
/* line 23, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #7a7a7a;
}
/* line 31, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a.flex-next {
  display: none;
}
@media (min-width: 670px) {
  /* line 31, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow .flex-direction-nav a.flex-next {
    display: block;
    right: -50px;
  }
}
/* line 39, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a.flex-next:before {
  content: "\f0a9";
}
/* line 44, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a.flex-prev {
  display: none;
}
@media (min-width: 670px) {
  /* line 44, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow .flex-direction-nav a.flex-prev {
    display: block;
    left: -50px;
  }
}
/* line 52, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a.flex-prev:before {
  content: "\f0a8";
}
@media (min-width: 670px) {
  /* line 57, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow:hover .flex-direction-nav a.flex-prev {
    left: -50px;
  }
}
@media (min-width: 670px) {
  /* line 64, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow:hover .flex-direction-nav a.flex-next {
    right: -50px;
  }
}
/* line 71, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .snippet-author_thumb {
  display: none;
}
@media (min-width: 670px) {
  /* line 71, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow .snippet-author_thumb {
    display: block;
  }
}

/* line 1, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section {
  overflow: auto;
  padding: 90px 0;
}
/* line 6, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section-title {
  font-size: 2.125rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-bottom-style: solid;
  border-bottom-color: #DADADA;
  border-bottom-width: 1px;
  text-align: center;
  padding-bottom: .8em;
  margin-bottom: .9em;
  margin-top: 0;
}
/* line 19, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section--alt {
  width: auto;
  margin: 0;
  background-color: #e8e8e8;
}
/* line 25, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section--alt > .stacked_hero_section-title {
  border-bottom-color: white;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 960px) {
  /* line 25, ../scss/components/_stacked_hero_section.scss */
  .stacked_hero_section--alt > .stacked_hero_section-title {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 40, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section--qualities .icon_box-wrapper {
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1000px) {
  /* line 40, ../scss/components/_stacked_hero_section.scss */
  .stacked_hero_section--qualities .icon_box-wrapper {
    width: auto;
    max-width: none;
  }
}

/*# sourceMappingURL=all-css-prefixed.css.map */