@font-face {
  font-family: "fedfont";
  src: url("../fonts/fedfont/fedfont.eot");
  src: url("../fonts/fedfont/fedfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fedfont/fedfont.woff") format("woff"), url("../fonts/fedfont/fedfont.ttf") format("truetype"), url("../fonts/fedfont/fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../scss/_base.scss */
body {
  font-family: sans-serif;
  font-weight: 100;
  color: #7a7a7a;
}

/* line 21, ../scss/_base.scss */
h1, h2, h3 {
  font-weight: 100;
}

/* line 25, ../scss/_base.scss */
p {
  line-height: 1.7;
}

/* line 1, ../scss/_layout.scss */
.site_header-top, .site_header-bottom_inner, .stacked_hero_section {
  width: auto;
  margin: 0 20px;
}
@media (min-width: 1000px) {
  /* line 1, ../scss/_layout.scss */
  .site_header-top, .site_header-bottom_inner, .stacked_hero_section {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 1, ../scss/_play.scss */
.play-font {
  font-size: 2em;
  text-shadow: 2px 2px 2px black;
}

/* line 8, ../scss/_play.scss */
.icon--circle {
  display: inline-block;
  padding: 30px 0 30px 0;
  border-radius: 4em;
  color: white;
  background-color: purple;
  font-size: 40px;
  width: 100px;
  text-align: center;
}

/* line 1, ../scss/components/_button.scss */
.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  background-color: #84BD00;
  padding: 0.75rem 2.5rem 0.5rem 2.5rem;
  border-radius: .2em;
  border-top: #bdff24 1px solid;
  border-bottom: #4f7100 1px solid;
  border-left: none;
  border-right: none;
  color: white;
}
/* line 16, ../scss/components/_button.scss */
.button:link, .button:hover, .button:visited, .button:active {
  color: white;
}
/* line 20, ../scss/components/_button.scss */
.button--pill {
  border-radius: 4em;
  padding: 0.6875rem 1.375rem 0.4375rem 1.375rem;
  font-size: 1.25rem;
  text-shadow: none;
  font-weight: 100;
}

/* line 1, ../scss/components/_contact_form.scss */
.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input input {
  font-size: 1.125rem;
  letter-spacing: .1em;
}

/* line 6, ../scss/components/_contact_form.scss */
.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input {
  background-color: #e8e8e8;
  border: #DADADA 1px solid;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1.75rem 0.25rem 1.75rem;
  border-radius: 0.3125rem;
  display: block;
  margin: 1.5em 0;
}

/* line 17, ../scss/components/_contact_form.scss */
.contact_form {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 530px) {
  /* line 17, ../scss/components/_contact_form.scss */
  .contact_form {
    width: 29.5rem;
  }
}
/* line 29, ../scss/components/_contact_form.scss */
.contact_form label.is-hidden {
  position: absolute;
  left: -999px;
}
/* line 34, ../scss/components/_contact_form.scss */
.contact_form-radio_wrapper {
  display: inline-block;
}
/* line 38, ../scss/components/_contact_form.scss */
.contact_form-type_label {
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: .1em;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
/* line 46, ../scss/components/_contact_form.scss */
.contact_form-type {
  text-align: center;
}
/* line 49, ../scss/components/_contact_form.scss */
.contact_form-type fieldset {
  border: 0;
}
/* line 53, ../scss/components/_contact_form.scss */
.contact_form-type i {
  font-size: 1.5rem;
  margin-right: .1em;
  color: #e8e8e8;
}
/* line 59, ../scss/components/_contact_form.scss */
.contact_form-type .contact_form-type--empty {
  color: #e8e8e8;
}
/* line 63, ../scss/components/_contact_form.scss */
.contact_form-type .contact_form-type--checked {
  display: none;
  color: #0065b2;
}
/* line 68, ../scss/components/_contact_form.scss */
.contact_form-type label {
  font-size: 1.25rem;
  letter-spacing: .1em;
  margin: 0 0.875rem;
}
/* line 74, ../scss/components/_contact_form.scss */
.contact_form-type input[type="radio"]:checked + .contact_form-type--checked {
  display: inline-block;
}
/* line 78, ../scss/components/_contact_form.scss */
.contact_form-type input[type="radio"] {
  position: absolute;
  left: -999px;
}
/* line 94, ../scss/components/_contact_form.scss */
.contact_form-comments {
  height: 9.1875rem;
  padding: 0.9375rem 1.75rem;
}
/* line 102, ../scss/components/_contact_form.scss */
.contact_form-submit {
  width: 100%;
}

/* line 109, ../scss/components/_contact_form.scss */
div.contact_form-interest .selectize-input {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 1, ../scss/components/_icon_box.scss */
.icon_box {
  background-color: #e8e8e8;
  width: 13.9375rem;
  height: 13.9375rem;
  padding: 1.375rem;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  margin: 3.125rem 0.375rem 1.25rem 0.375rem;
}
/* line 15, ../scss/components/_icon_box.scss */
.icon_box-wrapper {
  text-align: center;
}
/* line 19, ../scss/components/_icon_box.scss */
.icon_box > p {
  font-size: 0.875rem;
}
/* line 23, ../scss/components/_icon_box.scss */
.icon_box-title {
  margin-top: 2.625rem;
  margin-bottom: 0.625rem;
  font-size: 1.625rem;
  text-transform: uppercase;
  letter-spacing: .04em;
  text-align: center;
}
/* line 33, ../scss/components/_icon_box.scss */
.icon_box-icon {
  position: absolute;
  margin-left: 2.46875rem;
  margin-top: -4.5rem;
  display: inline-block;
  padding: 1.875rem 0 1.875rem 0;
  border-radius: 4em;
  color: white;
  font-size: 2.5rem;
  width: 6.25rem;
  text-align: center;
}
/* line 49, ../scss/components/_icon_box.scss */
.icon_box--passion .icon_box-icon {
  background-color: #a8228e;
}
/* line 55, ../scss/components/_icon_box.scss */
.icon_box--speed .icon_box-icon {
  background-color: #0065b2;
}
/* line 61, ../scss/components/_icon_box.scss */
.icon_box--creativity .icon_box-icon {
  background-color: #84BD00;
}
/* line 67, ../scss/components/_icon_box.scss */
.icon_box--magic .icon_box-icon {
  background-color: #f58220;
}

/* line 4, ../scss/components/_search_form.scss */
.search_form {
  font-size: 0;
}
/* line 7, ../scss/components/_search_form.scss */
.search_form label {
  position: absolute;
  left: -999px;
}
/* line 12, ../scss/components/_search_form.scss */
.search_form-phrase {
  vertical-align: top;
  height: 1.875rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #DADADA;
  border-left: none;
  width: 8.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
/* line 24, ../scss/components/_search_form.scss */
.search_form-submit {
  vertical-align: top;
  height: 1.875rem;
  font-size: 1rem;
  border: 1px solid #DADADA;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #e8e8e8;
  width: 1.875rem;
  overflow: hidden;
  line-height: 1.5625rem;
}
/* line 37, ../scss/components/_search_form.scss */
.search_form-submit:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  color: #aeaeae;
}

/* line 48, ../scss/components/_search_form.scss */
div.search_form-type.single {
  width: 4.875rem;
  display: inline-block;
  vertical-align: top;
}
/* line 53, ../scss/components/_search_form.scss */
div.search_form-type.single .selectize-input {
  font-size: 1rem;
  color: #7a7a7a;
  padding: 0.25rem 0.5rem;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 5px 0 0 5px;
  background-color: #e8e8e8;
  height: 1.875rem;
  border-color: #DADADA;
}
/* line 65, ../scss/components/_search_form.scss */
div.search_form-type.single .selectize-input:after {
  border-style: none;
}
/* line 69, ../scss/components/_search_form.scss */
div.search_form-type.single .selectize-input:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0dc";
  margin-right: .4em;
}

/* line 1, ../scss/components/_site_footer.scss */
.site_footer {
  background-color: #515151;
  color: #aeaeae;
  padding: 2.125rem 1.875rem;
}
/* line 7, ../scss/components/_site_footer.scss */
.site_footer-contact_info {
  margin-top: -0.4375rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
@media (min-width: 1010px) {
  /* line 7, ../scss/components/_site_footer.scss */
  .site_footer-contact_info {
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
}
/* line 18, ../scss/components/_site_footer.scss */
.site_footer-contact_info > p {
  margin-top: 0.1875em;
  margin-bottom: 0.1875em;
}
/* line 25, ../scss/components/_site_footer.scss */
.site_footer-copyright {
  color: white;
  font-weight: 400;
}
/* line 30, ../scss/components/_site_footer.scss */
.site_footer-social_nav {
  text-align: center;
  margin-bottom: 1.25rem;
}
@media (min-width: 1010px) {
  /* line 30, ../scss/components/_site_footer.scss */
  .site_footer-social_nav {
    float: right;
    text-align: left;
    margin-bottom: 0;
  }
}
/* line 40, ../scss/components/_site_footer.scss */
.site_footer-social_nav > a {
  font-size: 1rem;
  height: 1.5625rem;
  width: 1.5625rem;
  line-height: 1.5625rem;
  box-sizing: border-box;
  background-color: white;
  color: #515151;
  border-radius: 3em;
  display: inline-block;
  text-align: center;
  margin: 0 .1em 0 .1em;
}
/* line 59, ../scss/components/_site_footer.scss */
.site_footer-nav {
  text-align: center;
  margin-bottom: 0.5625em;
}
/* line 63, ../scss/components/_site_footer.scss */
.site_footer-nav_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 1010px) {
  /* line 63, ../scss/components/_site_footer.scss */
  .site_footer-nav_wrapper {
    width: 27rem;
  }
}
/* line 73, ../scss/components/_site_footer.scss */
.site_footer-nav a {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 0.625em;
  margin-right: 0.625em;
}
/* line 78, ../scss/components/_site_footer.scss */
.site_footer-nav a:link, .site_footer-nav a:hover, .site_footer-nav a:visited, .site_footer-nav a:active {
  color: white;
}
/* line 82, ../scss/components/_site_footer.scss */
.site_footer-nav--alt {
  padding-top: 0.8125em;
  border-top: #5d5d5d solid 1px;
}
/* line 86, ../scss/components/_site_footer.scss */
.site_footer-nav--alt a:link, .site_footer-nav--alt a:hover, .site_footer-nav--alt a:visited, .site_footer-nav--alt a:active {
  color: #aeaeae;
}

/* line 4, ../scss/components/_site_header.scss */
.site_header-skip {
  position: absolute;
  left: -999px;
}
/* line 8, ../scss/components/_site_header.scss */
.site_header-skip:focus {
  position: inherit;
  left: inherit;
}
/* line 14, ../scss/components/_site_header.scss */
.site_header-top {
  overflow: auto;
  padding: 1.5rem 0;
}
/* line 20, ../scss/components/_site_header.scss */
.site_header-top_right {
  width: 365px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1.25rem;
  padding-top: 0.25rem;
}
@media (min-width: 670px) {
  /* line 20, ../scss/components/_site_header.scss */
  .site_header-top_right {
    float: right;
    width: auto;
    margin: inherit;
    text-align: inherit;
    padding-bottom: 0;
  }
}
/* line 38, ../scss/components/_site_header.scss */
.site_header-logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 505px) {
  /* line 38, ../scss/components/_site_header.scss */
  .site_header-logo {
    width: 450px;
  }
}
@media (min-width: 670px) {
  /* line 38, ../scss/components/_site_header.scss */
  .site_header-logo {
    float: left;
    width: auto;
    margin: 0;
    display: inline-block;
  }
}
/* line 57, ../scss/components/_site_header.scss */
.site_header-bottom {
  overflow: auto;
  background-color: #e8e8e8;
  padding: 0.75rem 0;
  border-top: 1px solid #DADADA;
}
/* line 68, ../scss/components/_site_header.scss */
.site_header-nav {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.375rem;
}
@media (min-width: 670px) {
  /* line 68, ../scss/components/_site_header.scss */
  .site_header-nav {
    float: left;
    text-align: inherit;
    margin-bottom: 0;
  }
}
/* line 80, ../scss/components/_site_header.scss */
.site_header-nav a {
  display: inline-block;
  text-decoration: none;
  padding: .4em .7em;
}
/* line 84, ../scss/components/_site_header.scss */
.site_header-nav a:link, .site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:active {
  color: #7a7a7a;
}
/* line 89, ../scss/components/_site_header.scss */
.site_header-nav a.is-active {
  border: #aeaeae 1px solid;
  background-color: #DADADA;
  border-radius: .2em;
}
/* line 96, ../scss/components/_site_header.scss */
.site_header-phone {
  width: 10.625rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 670px) {
  /* line 96, ../scss/components/_site_header.scss */
  .site_header-phone {
    float: right;
    width: auto;
    text-align: inherit;
    display: inline-block;
    margin: 0;
  }
}
/* line 112, ../scss/components/_site_header.scss */
.site_header-account_link {
  display: inline-block;
  line-height: 1.8125rem;
  margin-right: 1.25rem;
}
/* line 117, ../scss/components/_site_header.scss */
.site_header-account_link:link, .site_header-account_link:hover, .site_header-account_link:visited, .site_header-account_link:active {
  color: #7a7a7a;
  text-decoration: none;
  font-size: 0.9375rem;
}
/* line 124, ../scss/components/_site_header.scss */
.site_header .search_form {
  display: inline-block;
  vertical-align: top;
}

/* line 1, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a, .slideshow .flex-direction-nav a.flex-prev:before, .slideshow .flex-direction-nav a.flex-next:before {
  height: 21.3125rem;
  width: 12.5rem;
  font-size: 0;
}

/* line 7, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-prev:before, .slideshow .flex-direction-nav a.flex-next:before {
  font-family: "fedfont";
  font-size: 19.4375rem;
  color: white;
  text-shadow: 0.125rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.4);
}

/* line 14, ../scss/components/_slideshow.scss */
.slideshow {
  width: auto;
  box-sizing: border-box;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  height: 39.375rem;
  background-image: url("../images/slideshow-bg-1000.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-bottom: 1px solid white;
}
/* line 34, ../scss/components/_slideshow.scss */
.slideshow > .slides {
  display: flex;
  align-items: center;
}
@media (min-width: 801px) {
  /* line 14, ../scss/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg-2000.jpg");
  }
}
@media (min-width: 1501px) {
  /* line 14, ../scss/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg-3000.jpg");
  }
}
@media (min-width: 2501px) {
  /* line 14, ../scss/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg.jpg");
  }
}
/* line 49, ../scss/components/_slideshow.scss */
.slideshow-slide {
  width: auto;
  padding: 0 20px;
}
@media (min-width: 820px) {
  /* line 49, ../scss/components/_slideshow.scss */
  .slideshow-slide {
    width: 31.25rem;
    padding-left: 12.5rem;
  }
}
/* line 58, ../scss/components/_slideshow.scss */
.slideshow-slide > p {
  color: white;
  font-size: 1.125rem;
}
/* line 64, ../scss/components/_slideshow.scss */
.slideshow-slide_title {
  font-size: 2.75rem;
  color: white;
  margin-bottom: .5em;
  margin-top: -0.625rem;
}
/* line 71, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a {
  display: none;
}
@media (min-width: 820px) {
  /* line 71, ../scss/components/_slideshow.scss */
  .slideshow .flex-direction-nav a {
    display: inherit;
    top: 30%;
  }
}
/* line 80, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-prev:before {
  content: "d";
  margin-left: -7.8125rem;
}
/* line 88, ../scss/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-next:before {
  content: "c";
}
/* line 96, ../scss/components/_slideshow.scss */
.slideshow .flex-control-nav {
  bottom: 0.9375rem;
}
/* line 99, ../scss/components/_slideshow.scss */
.slideshow .flex-control-nav li {
  margin: 0 0.25rem;
}
/* line 102, ../scss/components/_slideshow.scss */
.slideshow .flex-control-nav li a {
  background-color: white;
}
/* line 106, ../scss/components/_slideshow.scss */
.slideshow .flex-control-nav li a.flex-active {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 112, ../scss/components/_slideshow.scss */
.slideshow-wrapper {
  position: relative;
}
/* line 115, ../scss/components/_slideshow.scss */
.slideshow-wrapper:after {
  content: '';
  position: absolute;
  left: 5%;
  right: 5%;
  height: 50%;
  bottom: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  z-index: -1;
}

/* line 1, ../scss/components/_snippet.scss */
.snippet {
  overflow: auto;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
/* line 7, ../scss/components/_snippet.scss */
.snippet .snippet-content {
  float: left;
  width: 315px;
  margin-left: 20px;
}
/* line 12, ../scss/components/_snippet.scss */
.snippet .snippet-content > p {
  font-size: 0.875rem;
}
/* line 16, ../scss/components/_snippet.scss */
.snippet .snippet-content h3 {
  margin-top: 0;
}
/* line 21, ../scss/components/_snippet.scss */
.snippet-title {
  font-size: 1.5rem;
  margin-bottom: .7em;
}
/* line 26, ../scss/components/_snippet.scss */
.snippet-attribution {
  font-style: italic;
}
/* line 28, ../scss/components/_snippet.scss */
.snippet-attribution > a {
  color: #515151;
}
/* line 30, ../scss/components/_snippet.scss */
.snippet-attribution > a:hover, .snippet-attribution > a:visited, .snippet-attribution > a:link, .snippet-attribution > a:active {
  color: #515151;
}
/* line 36, ../scss/components/_snippet.scss */
.snippet-author_thumb {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 3px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  float: left;
  margin-top: 37px;
}

/* line 1, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background: none;
  border: 0;
}
@media (min-width: 670px) {
  /* line 1, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow {
    width: 515px;
  }
}
@media (min-width: 1070px) {
  /* line 1, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow {
    width: 960px;
  }
}
/* line 23, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #7a7a7a;
}
/* line 31, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a.flex-next {
  display: none;
}
@media (min-width: 670px) {
  /* line 31, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow .flex-direction-nav a.flex-next {
    display: block;
    right: -50px;
  }
}
/* line 39, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a.flex-next:before {
  content: "\f0a9";
}
/* line 44, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a.flex-prev {
  display: none;
}
@media (min-width: 670px) {
  /* line 44, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow .flex-direction-nav a.flex-prev {
    display: block;
    left: -50px;
  }
}
/* line 52, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .flex-direction-nav a.flex-prev:before {
  content: "\f0a8";
}
@media (min-width: 670px) {
  /* line 57, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow:hover .flex-direction-nav a.flex-prev {
    left: -50px;
  }
}
@media (min-width: 670px) {
  /* line 64, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow:hover .flex-direction-nav a.flex-next {
    right: -50px;
  }
}
/* line 71, ../scss/components/_snippet_slideshow.scss */
.snippet_slideshow .snippet-author_thumb {
  display: none;
}
@media (min-width: 670px) {
  /* line 71, ../scss/components/_snippet_slideshow.scss */
  .snippet_slideshow .snippet-author_thumb {
    display: block;
  }
}

/* line 1, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section {
  overflow: auto;
  padding: 90px 0;
}
/* line 6, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section-title {
  font-size: 2.125rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-bottom-style: solid;
  border-bottom-color: #DADADA;
  border-bottom-width: 1px;
  text-align: center;
  padding-bottom: .8em;
  margin-bottom: .9em;
  margin-top: 0;
}
/* line 19, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section--alt {
  width: auto;
  margin: 0;
  background-color: #e8e8e8;
}
/* line 25, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section--alt > .stacked_hero_section-title {
  border-bottom-color: white;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 960px) {
  /* line 25, ../scss/components/_stacked_hero_section.scss */
  .stacked_hero_section--alt > .stacked_hero_section-title {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 40, ../scss/components/_stacked_hero_section.scss */
.stacked_hero_section--qualities .icon_box-wrapper {
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1000px) {
  /* line 40, ../scss/components/_stacked_hero_section.scss */
  .stacked_hero_section--qualities .icon_box-wrapper {
    width: auto;
    max-width: none;
  }
}

/*# sourceMappingURL=styles.css.map */
