.button {
  $color: $green;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  background-color: $color;
  padding: px2rem(12) px2rem(40) px2rem(8) px2rem(40);
  border-radius: .2em;
  border-top: lighten($color, 20%) 1px solid;
  border-bottom: darken($color, 15%) 1px solid;
  border-left: none;
  border-right: none;
  color: $white;
  &:link, &:hover, &:visited, &:active {
    color: $white;
  }

  &--pill {
    border-radius: 4em;
    padding: px2rem(11) px2rem(22) px2rem(7) px2rem(22);
    font-size: px2rem(20);
    text-shadow: none;
    font-weight: 100;
  }
}