%contact_form---gray-input-input {
  font-size: px2rem(18);
  letter-spacing: .1em;
}

%contact_form---gray-input-box {
  background-color: $light-gray;
  border: $medium-gray 1px solid;
  width: 100%;
  box-sizing: border-box;
  padding: px2rem(8) px2rem(28) px2rem(4) px2rem(28);
  border-radius: px2rem(5);
  display: block;
  margin: 1.5em 0;
}

.contact_form {
  $full_width: 530px;

  width: auto;

  @include breakpoint($full_width) {
    width: px2rem(472);
  }

  margin-left: auto;
  margin-right: auto;
  
  label.is-hidden {
    position: absolute;
    left: -999px;
  }

  &-radio_wrapper {
    display: inline-block;
  }

  &-type_label {
    font-size: px2rem(20);
    text-align: center;
    letter-spacing: .1em;
    font-weight: 400;
    margin-bottom: px2rem(12);
  }

  &-type {
    text-align: center;

    fieldset {
      border: 0;
    }

    i {
      font-size: px2rem(24);
      margin-right: .1em;
      color: $light-gray;
    }

    .contact_form-type--empty {
      color: $light-gray;
    }

    .contact_form-type--checked {
      display: none;
      color: $blue;
    }

    label {
      font-size: px2rem(20);
      letter-spacing: .1em;
      margin: 0 px2rem(14);
    }

    input[type="radio"]:checked + .contact_form-type--checked {
      display: inline-block;
    }

    input[type="radio"] {
      position: absolute;
      left: -999px
    }
  }

  &-name {
    @extend %contact_form---gray-input-input;
    @extend %contact_form---gray-input-box;
  }

  &-email {
    @extend %contact_form---gray-input-input;
    @extend %contact_form---gray-input-box;
  }

  &-comments {
    @extend %contact_form---gray-input-input;
    @extend %contact_form---gray-input-box;

    height: px2rem(147);
    padding: px2rem(15) px2rem(28);
  }

  &-submit {
    width: 100%;
  }
}


div.contact_form-interest {
  .selectize-input {
    @extend %contact_form---gray-input-box;

    box-shadow: none;
    -webkit-box-shadow: none;

    input {
      @extend %contact_form---gray-input-input;
    }
  }
}
