.icon_box {
  background-color: $light-gray;

  $padding: 22;
  $box_width: 223;

  width: px2rem($box_width);
  height: px2rem($box_width);
  padding: px2rem($padding);
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  margin: px2rem(50) px2rem(6) px2rem(20) px2rem(6);

  &-wrapper {
    text-align: center;
  }

  > p { // TODO: Unify paragraphs styles size
    font-size: px2rem(14);
  }

  &-title {
    margin-top: px2rem(42);
    margin-bottom: px2rem(10);

    font-size: px2rem(26);
    text-transform: uppercase;
    letter-spacing: .04em;
    text-align: center;
  }

  &-icon {
    $with: 100;
    position: absolute;
    margin-left: px2rem(($box_width/2) - ($with/2) - $padding);
    margin-top: px2rem(-1 * (($with / 2) + $padding));

    display: inline-block;
    padding: px2rem(30) 0 px2rem(30) 0;
    border-radius: 4em;
    color: white;
    font-size: px2rem(40);
    width: px2rem($with);
    text-align: center;
  }

  &--passion {
    .icon_box-icon {
      background-color: $purple;
    }
  }

  &--speed {
    .icon_box-icon {
      background-color: $blue;
    }
  }

  &--creativity {
    .icon_box-icon {
      background-color: $green;
    }
  }

  &--magic {
    .icon_box-icon {
      background-color: $orange;
    }
  }
}