$search_form-height: px2rem(30);
$search_form-font-size: px2rem(16);

.search_form {
  font-size: 0;

  label {
    position: absolute;
    left: -999px;
  }

  &-phrase {
    vertical-align: top;
    height: $search_form-height;
    box-sizing: border-box;
    font-size: $search_form-font-size;
    border: 1px solid $medium-gray;
    border-left: none;
    width: px2rem(130);
    padding-left: px2rem(10);
    padding-right: px2rem(10);
  }

  &-submit {
    vertical-align: top;
    height: $search_form-height;
    font-size: $search_form-font-size;
    border: 1px solid $medium-gray;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: $light-gray;

    width: px2rem(30);
    overflow: hidden;
    line-height: px2rem(25);

    &:before {
      font-family: "Font Awesome 5 Free";

      font-weight: 900;

      content: "\f002";
      color: $medium-dark-gray;
    }
  }
}

div.search_form-type.single {
  width: px2rem(78);
  display: inline-block;
  vertical-align: top;

  .selectize-input {
    font-size: $search_form-font-size;
    color: $medium-darker-gray;
    padding: px2rem(4) px2rem(8);
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 5px 0 0 5px;
    background-color: $light-gray;
    height: $search_form-height;
    border-color: $medium-gray;
  }

  .selectize-input:after {
    border-style: none;
  }

  .selectize-input:before {
    font-family: "Font Awesome 5 Free";

    font-weight: 900;

    content: "\f0dc";
    margin-right: .4em;
  }
}
