.site_footer {
  $one_column_breakpoint: 1010px;
  background-color: $dark-gray;
  color: $medium-dark-gray;
  padding: px2rem(34) px2rem(30);

  &-contact_info {
    margin-top: px2rem(-7);

    text-align: center;
    margin-bottom: px2rem(20);
    @include breakpoint($one_column_breakpoint) {
      float: left;
      text-align: left;
      margin-bottom: 0;
    }

    > p {
      $margin: px2em(3);
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }

  &-copyright {
    color: $white;
    font-weight: 400;
  }

  &-social_nav {

    text-align: center;
    margin-bottom: px2rem(20);
    @include breakpoint($one_column_breakpoint) {
      float: right;
      text-align: left;
      margin-bottom: 0;
    }

    > a {
      $size: 25;
      font-size: px2rem(.64 * $size);
      height: px2rem($size);
      width: px2rem($size);
      line-height: px2rem($size);
      box-sizing: border-box;
      background-color: $white;
      color: $dark-gray;
      border-radius: 3em;
      //padding: px2rem(4) 0 px2rem(4) 0;
      //font-size: px2rem(14);
      //width: px2rem(22);
      display: inline-block;
      text-align: center;
      margin: 0 .1em 0 .1em;
    }
  }

  &-nav {
    text-align: center;
    margin-bottom: px2em(9);

    &_wrapper {
      margin-left: auto;
      margin-right: auto;

      width: 100%;
      @include breakpoint($one_column_breakpoint) {
        width: px2rem(432);
      }
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      margin-left: px2em(10);
      margin-right: px2em(10);
      &:link, &:hover, &:visited, &:active {
        color: $white;
      }
    }
    &--alt {
      padding-top: px2em(13);
      border-top: $medium-darkest-gray solid 1px;
      a {
        &:link, &:hover, &:visited, &:active {
          color: $medium-dark-gray;
        }
      }
    }
  }
}