.site_header {
  $one_column_breakpoint: 670px;

  &-skip {
    position: absolute;
    left: -999px;

    &:focus {
      position: inherit;
      left: inherit;
    }
  }

  &-top {
    @extend %l-full_width;
    overflow: auto;
    padding: px2rem(24) 0;
  }

  &-top_right {
    width: 365px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: px2rem(20);

    padding-top: px2rem(4);

    @include breakpoint($one_column_breakpoint) {
      float: right;
      width: auto;
      margin: inherit;
      text-align: inherit;
      padding-bottom: 0;
    }
  }

  &-logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;

    @include breakpoint(505px){
      width: 450px;
    }

    @include breakpoint($one_column_breakpoint) {
      float: left;
      width: auto;
      margin: 0;
      display: inline-block;
    }
  }

  &-bottom {
    overflow: auto;
    background-color: $light-gray;
    padding: px2rem(12) 0;
    border-top: 1px solid $medium-gray;
  }

  &-bottom_inner {
    @extend %l-full_width;
  }

  &-nav {
    text-align: center;
    margin-bottom: 20px;

    font-size: px2rem(22);

    @include breakpoint($one_column_breakpoint){
      float: left;
      text-align: inherit;
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      text-decoration: none;
      padding: .4em .7em;
      &:link, &:hover, &:visited, &:active {
        color: $medium-darker-gray;
      }
    }

    a.is-active {
      border: $medium-dark-gray 1px solid;
      background-color: $medium-gray;
      border-radius: .2em;
    }
  }

  &-phone {
    width: px2rem(170);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($one_column_breakpoint){
      float: right;
      width: auto;
      text-align: inherit;
      display: inline-block;
      margin: 0;
    }
  }

  &-account_link {
    display: inline-block;
    line-height: px2rem(29);
    margin-right: px2rem(20);

    &:link, &:hover, &:visited, &:active {
      color: $medium-darker-gray;
      text-decoration: none;
      font-size: px2rem(15);
    }
  }

  .search_form {
    display: inline-block;
    vertical-align: top;
  }
}