%slider-arrows-sizes {
  height: px2rem(341);
  width: px2rem(200);
  font-size: 0;
}

%slider-arrows {
  font-family: "fedfont";
  font-size: px2rem(311);
  color: $white;
  text-shadow: px2rem(2) px2rem(1) px2rem(3) rgba(0, 0, 0, 0.4);
}

.slideshow {
  $full_width_breakpoint: 820px;

  width: auto;
  box-sizing: border-box;
  overflow: hidden;
  border: 0;
  border-radius: 0;

  height: px2rem(630);
  background-image: url('../images/slideshow-bg-1000.jpg');
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
  align-items: center;

  margin-bottom: 0;
  border-bottom: 1px solid $white;

  & > .slides {
    display: flex;
    align-items: center;
  }

  @include breakpoint(801px) {
    background-image: url('../images/slideshow-bg-2000.jpg');
  }
  @include breakpoint(1501px) {
    background-image: url('../images/slideshow-bg-3000.jpg');
  }
  @include breakpoint(2501px) {
    background-image: url('../images/slideshow-bg.jpg');
  }

  &-slide {
    width: auto;
    padding: 0 20px;

    @include breakpoint($full_width_breakpoint){
      width: px2rem(500);
      padding-left: px2rem(200);
    }

    > p {
      color: $white;
      font-size: px2rem(18);
    }
  }

  &-slide_title {
    font-size: px2rem(44);
    color: $white;
    margin-bottom: .5em;
    margin-top: px2rem(-10);
  }

  .flex-direction-nav a {
    @extend %slider-arrows-sizes;
    display: none;

    @include breakpoint($full_width_breakpoint){
      display: inherit;
      top: 30%;
    }

    &.flex-prev:before {
      @extend %slider-arrows;
      @extend %slider-arrows-sizes;

      content: "d";
      margin-left: px2rem(-125);
    }

    &.flex-next:before {
      @extend %slider-arrows;
      @extend %slider-arrows-sizes;

      content: "c";
    }
  }

  & .flex-control-nav {
    bottom: px2rem(15);

    & li {
      margin: 0 px2rem(4);

      & a {
        background-color: $white;
      }

      & a.flex-active {
        background-color: rgba(255, 255, 255, .5);
      }
    }
  }

  &-wrapper {
    position: relative;

    &:after{
      content: '';
      position: absolute;
      left: 5%;
      right: 5%;
      height: 50%;
      bottom: 0;
      box-shadow: 0 0 30px rgba(0, 0, 0, .6);
      border-radius: 30px;
      z-index: -1;
    }
  }
}